html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:14px;
vertical-align:baseline;
margin:0;
padding:0;
}

html {
line-height:1;
}

ol,ul {
list-style:none;
}

table {
border-spacing:0;
border-collapse:collapse;
border:1px solid #000;
}

caption,th,td {
text-align:left;
font-weight:400;
vertical-align:middle;
}

q,blockquote {
quotes:none;
}

q:before,q:after,blockquote:before,blockquote:after {
content:none;
}

a img {
border:none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
display:block;
}

body {
font-family:Tahoma,"Microsoft Yahei",Helvetica,Arial;
clear:both;
min-height:100%;
height:auto!important;
margin-bottom:-54px;
}

header {
text-align:center;
margin-top:30px;
height:72px;
}

.columns {
width:760px;
overflow:hidden;
zoom:1;
height:48px;
margin:0 auto;
}

.columns .column5 {
display:inline;
float:left;
margin-right:10px;
width:540px;
}

.columns .column2-last {
display:inline;
float:left;
margin-right:0;
width:210px;
}

.columns .column2 {
display:inline;
float:left;
margin-right:10px;
width:210px;
}

.columns .column3 {
display:inline;
float:left;
margin-right:10px;
width:320px;
}

.columns .column7 {
display:inline;
float:left;
margin-right:10px;
width:760px;
}

input[type="text"] {
width:200px;
}

footer {
text-align:center;
font-family:"helvetica neue",arial,helvetica,freesans,"liberation sans","numbus sans l",sans-serif;
clear:both;
position:relative;
height:54px;
}

html,body {
height:100%;
}

body #footer {
height:54px;
}

th {
text-align:left;
background:gray;
color:#FFF;
padding:.2em;
}

td {
border:1px solid #000;
padding:.2em;
}

[class^="icon-"] {
display:inline-block;
background-repeat:no-repeat;
}

[class^="btn-"] {
vertical-align:auto;
zoom:1;
display:inline;
font-family:"Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
font-size:100%;
line-height:130%;
font-weight:700;
text-decoration:none;
cursor:pointer;
width:auto;
overflow:visible;
border-style:solid;
border-width:1px;
margin:.7em .5em .7em 0;
padding:4px 10px 3px 7px;
}

[class^="btn-"][type] {
line-height:17px;
padding:4px 10px 4px 7px;
}

:first-child+html [class^="btn-"][type] {
padding:4px 10px 3px 7px;
}

a.btn {
vertical-align:auto;
zoom:1;
display:inline;
font-family:"Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
font-size:100%;
line-height:130%;
font-weight:700;
text-decoration:none;
cursor:pointer;
border-style:solid;
border-width:1px;
margin:.7em .5em .7em 0;
padding:5px 10px 5px 7px;
}

#saleHeader,.saleHeader {
padding-bottom:10px;
border-bottom:1px solid transparent;
}

.saleHeader-head-p {
text-align:center;
font-size:24px;
margin-bottom:20px;
padding-left:2px;
}

.saleHeader-body-p {
position:relative;
}

#saleFooter div,.saleFooter div {
position:relative;
height:30px;
padding-top:5px;
padding-bottom:5px;
}

#saleFooter div .first-p,.saleFooter div .first-p {
position:absolute;
left:2px;
}

.saleFooter-address {
padding-left:2px;
padding-bottom:5px;
}
#saleFooter .saleFooter-bank {
height: 70px;
}
.saleFooter-bank {
padding-left:2px;
}

.saleFooter-bank span {

}

.saleFooter-bank span:first-child {
margin-left:0;
}

#print-article {
display:none;
}

* html .columns .column5,* html .columns .column2-last,* html .columns .column2,* html .columns .column3,* html .columns .column7 {
overflow-x:hidden;
}

#footer,.td-last {
text-align:center;
}

[class^="btn-"] img,a.btn img {
border:none;
width:16px;
height:16px;
float:none;
margin:0 3px -3px 0 !important;
padding:0;
}

.body2 article>div,.body2 #print-article>div {
width:98%;
margin-left:1%;
border:1px solid #000;
}

.body2 article table,.body2 #print-article table {
width:100%;
}

.saleHeader-body-p .second-span,#saleFooter div .second-p,.saleFooter div .second-p {
position:absolute;
left:50%;
}